
body {font-family:Times; margin:30px auto; background:#DCDCDC; font-size: 13px;} 

h1 {font-family:Times; color:darkred; align:center;}

p {font-family:Calibri; color:darkred; text-align:center;}

table, th, td { border:1px solid black; border-collapse:collapse; font-family:Times font-size: 13px; color:darkred; padding:6px; text-align:center;}

/*classi*/
.flex {max-width: 12%}
.flex1 {max-width: 50%; align:center}
.flex2 {max-width: 20%; align:center}
.flex3 {max-width: 45%; align:center}

/*classe per sfondo nero in alto*/
.topnav {background-color: #333; opacity: 0.6; overflow: hidden;}

/*a per i link*/
.topnav a {float: right; color: #f2f2f2; text-align: center; padding: 13px 15px; font-size: 18px; text-decoration: none;}

/* cambia colore parole, hover per quando metto il cursore del mouse sopra */
.topnav a:hover {background-color: #ddd; color: black;}

/*#posTab { left:250px;}*/
/*colonne
.column { float: left; padding: 10px;}
.left { width: 25%;}
.right { width: 75%;}
.row:after { content: ""; display: table; clear: both;}